<h1> Winner Board </h1>
<a href="/">home</a>

<% @competitions.each do |competition| %>
    <div>
        <hr>
        <h3> <%= competition.puzzle_text %> </h3>
        <p> Numer of times correctly answered: <%= competition.correct_answer_number %> </p>
        <% competition.top_winners(10).each do |winner| %>
            <p>
                name <%= winner.name %> rank <%= winner.rank %>
            </p>
        <% end %>
    </div>
<% end %>